<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let image of images">
      <div class="col-md-4">
        <app-image [image]="image"></app-image>
      </div>
    </ng-container>
  </div>
</div>
