:host {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  max-height: 100vh;
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 0.75;
    z-index: 100;
  }
  .popup-wrapper {
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  .popup {
    display: inline-block;
    position: relative;
    text-align: left;
    left: 0;
    right: 0;
    top: 10vh;
    width: 80vw;
    margin: auto;
    background: white;
    border-collapse: collapse;
    .header {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 30px;
      line-height: 30px;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .close-button {
        position: absolute;
        right: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 20px;
        line-height: 20px;
        width: 20px;
        background: none;
        border: none;
        font-weight: 700;
        margin-left: 5px;
        color: gray;
        cursor: pointer;
      }
      .close-button:hover {
        color: darkgray;
      }
    }
  }
}
