<div class="overlay"></div>
<div class="popup-wrapper" (click)="closeModalPopupWindow()">
  <div class="popup" appStopClickPropagation>
    <div class="header">
      <div class="close-button fa fa-close" (click)="closeModalPopupWindow()"></div>
    </div>
    <ng-container class="content" #content></ng-container>
  </div>
</div>
