<div class="thumbnail" (click)="openImageDetails()">
  <div class="image-wrapper">
    <img src="{{image.url}}" class="img-rounded img-responsive" alt="">
  </div>
  <div class="caption">
    <h4 class="text-center">{{image.title}}</h4>
  </div>
</div>
