.thumbnail {
  cursor: pointer;
  .image-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 350px;
    img {
      margin: auto;
    }
  }
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
