<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="onSearch(searchForm.value)" #searchForm="ngForm">
        <div class="input-group">
          <input type="text" name="tags" ngModel
            class="form-control" placeholder="Type tag for image search">
          <span class="input-group-btn">
             <app-predefined-tags-selection (toggleTag)="toggleTag($event)"></app-predefined-tags-selection>
          </span>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
