.dropdown-toggle {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.dropdown > .dropdown-menu {
  overflow: auto;
  max-height: 30vh;
  ul {
    list-style: inherit;
    padding-left: 15px;
  }
  a {
    padding: 0 10px;
    color: inherit;
    text-decoration: inherit;
  }
}
