<div class="dropdown" dropdown [autoClose]="false">
  <button dropdownToggle class="btn btn-default dropdown-toggle" type="button">
    Predefined tags <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu list-group" role="menu">
    <ng-container *ngFor="let category of predefinedTags.categories; let categoryIndex = index">
      <li>
        <a appPreventClickDefault href="#category-{{categoryIndex}}" collapse (click)="toggleCategory(category)">
          <i class="glyphicon"
            [class.glyphicon-chevron-right]="!category.isCollapsed"
            [class.glyphicon-chevron-down]="category.isCollapsed"></i> {{category.name}}
        </a>
        <ul id="category-{{categoryIndex}}" [collapse]="!category.isCollapsed">
          <ng-container *ngFor="let subcategory of category.sabCategories; let subcategoryIndex = index">
            <li>
              <a appPreventClickDefault href="#subcategory-{{subcategoryIndex}}" collapse (click)="toggleCategory(subcategory)">
                <i class="glyphicon"
                  [class.glyphicon-chevron-right]="!subcategory.isCollapsed"
                  [class.glyphicon-chevron-down]="subcategory.isCollapsed"></i>
                {{subcategory.name}}
              </a>
              <ul id="subcategory-{{subcategoryIndex}}" [collapse]="!subcategory.isCollapsed">
                <li *ngFor="let tag of subcategory.tags">
                  <label><input type="checkbox" (change)="onToggleTag($event, tag)">{{tag}}</label>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
      <li *ngIf="categoryIndex < predefinedTags.categories.length - 1" class="divider"></li>
    </ng-container>
  </ul>
</div>
