<div *ngIf="!isLoading && imageDetails; else loading" class="image-info-container container-fluid">
  <div class="row image-wrapper">
    <img src="{{image.url}}" alt="" class="img-responsive">
  </div>
  <div class="image-info row">
    <div class="container">
      <h4 class="text-center">{{image.title}}</h4>
      <p *ngIf="imageDetails.owner.username">
        <b>Posted by</b> {{imageDetails.owner.username}} on {{imageDetails.dates.posted | date:'dd.MM.yyyy'}}
      </p>
      <p *ngIf="imageDetails.description"><b>Description:</b> <span [innerHtml]="imageDetails.description._content"></span></p>
      <p><b>Views:</b> {{imageDetails.views}}</p>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loading">
    <img src="assets/Rolling.svg" alt="Loading">
  </div>
</ng-template>
